.skill-card {
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 15px 0 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 40vw;
}

.skill-card img {
    aspect-ratio: 1/1;
    margin-left: 2vw;
    width: 3vw;
}

.skill-card p {
    font-size: 1.4em;
    margin-left: 2vw;
}